src/main/mule/tdx-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="cd4e5ce2-73d3-4b68-a70f-16c19263d814" >
		<vm:queues >
			<vm:queue queueName="filesBatchQ" queueType="PERSISTENT" maxOutstandingMessages="1000" />
		</vm:queues>
	</vm:config>
	<os:object-store name="TDXRunResultObject_store" doc:name="Object store" doc:id="262b1e9a-32be-4d14-97f4-b17cfed6a587" />
	<configuration-properties doc:name="Configuration properties" doc:id="07070ee9-1fce-48b6-9267-3cfb978101b3" file="config.properties" />
	<flow name="tdx-api-impl-tdxfiles" doc:id="7304c9cf-88be-4382-ba2f-db1e9d2f0b74" >
		<logger level="INFO" doc:name="inside tdxfiles" doc:id="bb6030b0-acc3-4b95-b148-2fa5198d21a7" message="inside tdxfiles !!!"/>
		<foreach doc:name="For Each" doc:id="e54bddd7-6164-4a4d-98e3-57edbe364ac1" collection="#[payload.arguments.infocards]" batchSize="${batch.size}">
			<ee:transform doc:name="Transform Message" doc:id="cece3d7a-98cb-4be7-9ea9-f227915aa93e" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"key": correlationId,
	"batch-files": payload,

}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<vm:publish doc:name="filesBatchQ" doc:id="cca498d0-b9e5-46c3-b559-4ad52bfa3492" config-ref="VM_Config" queueName="filesBatchQ" timeout="#[1]" timeoutUnit="HOURS"/>
		</foreach>
		<ee:transform doc:name="return requestNumber" doc:id="1106faa3-95ac-489e-ae28-cca5c20abb50" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
		"requestNumber" : correlationId, 
		"receivedInfoCards": sizeOf(payload.arguments.infocards),
		"status": "Submitted",
		"processedTotal": 0,
		"success": 0,
		"failure": 0,
		"batchStartTime" : now() >> "US/Mountain"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="Store" doc:id="b00bca36-9f4f-464c-a595-09fe92805867" key="#[correlationId]" objectStore="TDXRunResultObject_store">
			<os:value><![CDATA[#[output application/java --- [payload]]]]></os:value>
		</os:store>
	</flow>
	<flow name="tdx-api-impl-process-filesBatchLoop" doc:id="8cb8a04b-bc3d-4800-af09-c7cfe69413df" >
		<vm:listener queueName="filesBatchQ" doc:name="filesBatchQ" doc:id="36df2bf9-104c-4228-9c11-20de7f026af1" config-ref="VM_Config" numberOfConsumers="1" timeout="1" timeoutUnit="HOURS"/>
		<ee:transform doc:name="Transform Message" doc:id="a37a6a78-a4b8-4eb7-b39c-d745b94d45be" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload."batch-files"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="tdx-api-implBatch_Job" doc:id="03a5de6f-6015-4fbf-ae79-c38671761bc5" blockSize="1">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="53384d59-1b3c-4c23-8307-1ee5610cc389" >
					<flow-ref doc:name="processFile" doc:id="626ffe8d-f3c1-4321-97c5-30040117f22c" name="tdx-api-impl-processFile"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="816389e8-773e-4336-938c-5c21a18d24b8" size="${batch.size}">
						<set-variable value="#[payload]" doc:name="batchResult" doc:id="bb2bfb34-7eb4-48bf-8a2d-ba331d4f63dc" variableName="batchResult"/>
						<logger level="INFO" doc:name="Log aggregated payload" doc:id="7beb6025-1f84-4156-84dd-ee55c1dc1dc7" message="#[output application/json --- payload]"/>
						<ee:transform doc:name="wait 20 seconds" doc:id="76a5f024-4cf6-43f0-8e91-1c8d2e4ee11d">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java

import * from dw::Runtime

---
{"user":1} wait 20000]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<os:retrieve doc:name="Retrieve Status" doc:id="a2006643-de79-4343-bef2-291454b25415" key="#[correlationId]" objectStore="TDXRunResultObject_store" />
						<logger level="INFO" doc:name="Log Status from ObjectStore" doc:id="2c461384-b8e0-49f0-b5f2-5da809fdef36" message="#[output application/json --- payload]"/>
						<os:store doc:name="Store Status" doc:id="ceffc896-bd7e-4b94-82e1-b98073afb48f" key="#[correlationId]" objectStore="TDXRunResultObject_store">
					<os:value><![CDATA[#[payload ++ vars.batchResult]]]></os:value>
				</os:store>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
		</batch:job>
	</flow>
	<flow name="tdx-api-impl-processFile" doc:id="33e229e1-ce05-41e6-80ac-211382613569" >
		<logger level="INFO" doc:name="Logger" doc:id="c7eee34b-3b2b-4bb8-95d8-cceb0a240381" message="processFile: #[payload.infocard_num]"/>
		<set-variable value="#[payload]" doc:name="currentInfoCard" doc:id="54727466-6eb1-4c20-ba1a-c65457d4a9bd" variableName="currentInfoCard"/>
		<choice doc:name="Choice" doc:id="9f1ba2be-9eda-45ec-8094-d68d22a13c0c" >
			<when expression='#[upper(vars.currentInfoCard.fileType) == "PDF"]'>
				<flow-ref doc:name="Pull PDF" doc:id="fc450f11-8243-4e2d-afd6-bcc8c73f4e54" name="tdx-api-impl-process-pdf"/>
				<ee:transform doc:name="Transform Message" doc:id="f96545de-a238-4c95-b5f0-cfaa4d462ff4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	"inforcard_num": vars.currentInfoCard.infocard_num,
	"inforcard_id": vars.currentInfoCard.infocard_id,
	"success" : 1,
	"result":"NA"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<when expression='#[upper(vars.currentInfoCard.fileType) == "NATIVE"]'>
				<flow-ref doc:name="Pull Native" doc:id="5d881cad-84cb-426b-a3e9-fc9a48c30dd7" name="tdx-api-impl-process-native"/>
				<ee:transform doc:name="Transform Message" doc:id="6c508112-3408-4728-afb7-038684188e75" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"inforcard_num": vars.currentInfoCard.infocard_num,
	"inforcard_id": vars.currentInfoCard.infocard_id,
	"success" : 1,
	"result":"NA"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="7ead6f84-1ba5-4c28-bb07-680f5b6717dd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"inforcard_num": vars.currentInfoCard.infocard_num,
	"inforcard_id": vars.currentInfoCard.infocard_id,
	"failure" : 1,
	"result": "Unknown file-Type"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="25ce623b-165a-44c7-b8cc-e8ff307e70e2">
				<ee:transform doc:name="Transform Message" doc:id="be97b76f-73a2-42ae-a1ab-e45d4890adb9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"inforcard_num": vars.currentInfoCard.infocard_num,
	"inforcard_id": vars.currentInfoCard.infocard_id,
	"failure" : 1,
	"result": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="tdx-api-impl-tdxfiles-status" doc:id="b3df8c47-7be5-4772-8d81-9843ce3b9045" >
		<set-variable value="#[payload.requestNumber]" doc:name="requestNumber" doc:id="5da9a608-de7b-460b-8961-0119ad5d76f0" variableName="requestNumber"/>
		<os:retrieve doc:name="Retrieve Status" doc:id="47f7efa7-a6da-4f37-90c8-4e1eb17c9b2c" key="#[vars.requestNumber]" objectStore="TDXRunResultObject_store"/>
		<ee:transform doc:name="return requestNumber status" doc:id="b75012c2-e6a5-4ab5-b459-87da3352d5c6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"requestNumber" : vars.requestNumber,
	"receivedInfoCards" : payload[0].receivedInfoCards,
	"status": payload[0].status,
    "processedTotal" : sum(payload.success) + 
    sum(payload.failure),
    "success" : sum(payload.success),
    "failure" :  sum(payload.failure),
    "infoCards":[
        payload[1 to -1] map{
            "infoCardNum": $.inforcard_num,
            "infoCardId": $.inforcard_id,
            "result": $.result
        }
    ]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3e8d5546-b67d-4ca1-adea-a9f72d3796d8" >
				<ee:transform doc:name="return requestNumber status" doc:id="04ecbc6f-053b-44d6-90ad-52c879f62c64" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"requestNumber" : vars.requestNumber,
	"receivedInfoCards" : 0,
	"status": "requestNumber not found !!!",
    "processedTotal" : 0,
    "success" : 0,
    "failure" :  0,
    "infoCards":[]
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
	<sub-flow name="tdx-api-impl-process-pdf" doc:id="1e8122d6-833a-4d9d-8aa7-c80054b37e63" >
		<logger level="INFO" doc:name="process-pdf" doc:id="e02013c6-3278-42a3-96d8-06938de92921" message="process-pdf !!!"/>
		<logger level="INFO" doc:name="currentInfoCard" doc:id="264fea6c-2eae-4824-90ac-b8524985b3fd" message="#[output application/json --- vars.currentInfoCard]"/>
		<choice doc:name="Choice" doc:id="a8401917-081d-42ac-9828-c03a4e9b7f62">
			<when expression='#[vars.currentInfoCard.infocard_id == "4XWJED3MYJGW3KDL75"]'>
				<raise-error doc:name="Raise error" doc:id="1cdb69e4-dfc6-4900-8f38-032cd44a1f36" type="MC:FILE_NOT_FOUND" description="PDF File not found in master-control"/>
			</when>
		</choice>
	</sub-flow>
	<sub-flow name="tdx-api-impl-process-native" doc:id="f8d5a73f-5d8b-45e9-b853-e5636c9283ab" >
		<logger level="INFO" doc:name="process-native" doc:id="9958184a-3ba1-4e82-a3de-f82843908eb4" message="process-native !!!"/>
		<logger level="INFO" doc:name="currentInfoCard" doc:id="90c96cc6-3faa-400a-bc39-1bea18889fc5" message="#[output application/json --- vars.currentInfoCard]"/>
		<choice doc:name="Choice" doc:id="ae5047b5-60b3-4f23-aa95-48a60d2d2346">
			<when expression='#[vars.currentInfoCard.infocard_id == "56820007029A404B10"]'>
				<raise-error doc:name="Raise error" doc:id="ff1a01a3-c5f1-4404-a2fd-6473563fa146" type="MC:FILE_NOT_FOUND" description="Native File not found in master-control" />
			</when>
		</choice>
	</sub-flow>
</mule>
